SCRAPING_LOG_LEVEL=INFO
SCRAPING_LOG_FILE=csfd_scraping.log
DOMAIN_URL=https://www.csfd.cz
TOPLIST_URL_PART=/zebricky/nejlepsi-filmy/?show=complete
FILM_COUNT=300

SECRET_KEY="django-insecure-s6jv9bwo(p&rkfy*%%40hjq30f#m*+1rk2ga9arsb28i%ojhi!"
DEBUG=False
